VITE_FIREBASE_API_KEY="AIzaSyBxIUX6Qr4Z1cKlUsXF-sf6dvAk47V2d2Q"
VITE_FIREBASE_AUTH_DOMAIN="card-5e01d.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="card-5e01d"
VITE_FIREBASE_APP_ID="1:83990315582:web:f081a9df6657770ba1876f"
VITE_FIREBASE_MESSAGING_SENDER_ID="83990315582"
VITE_FIREBASE_STORAGE_BUCKET="card-5e01d.firebasestorage.app"